# Mac
.DS_Store

# Maven
log/
target/
cnsim/dependency-reduced-pom.xml

# Vim swap
*.swp
*.spo

# JBrain
.idea/
*.iml

.classpath

.project

.settings/org.eclipse.jdt.core.prefs

.settings/org.eclipse.m2e.core.prefs
